{% extends 'blog/base.html'%}

<!-- Block Content -->
{% block content %}

<h3>About Me</h3>

<div>
    <p>
        I am a Computer Engineer passionate about Web Programming, lover of good music and I like sports. If you want to contact me, don't think twice, here I am. &#128521
    </p>
    <p>
        This website is made entirely with <strong>django 3</strong> and is open source. You can view and download the code from
        <a href="https://github.com/adejonghm/first_blog/">Github</a>.
    </p>
</div>
<br>
<div>
    <h4>Contact Me</h4>
    <p>
        <i class="fa fa-envelope" style="font-size: 18px;">
            <a href="mailto:dejongh.cu@gmail.com">GMail</a>
        </i> &nbsp;
        <i class="fa fa-linkedin-square" style="font-size: 18px;">
            <a href="https://www.linkedin.com/in/adejonghm">LinkedIn</a>
        </i> &nbsp;
        <i class="fa fa-send" style="font-size: 18px;">
            <a href="https://t.me/adejonghm">Telegram</a>
        </i> &nbsp;
        <i class="fa fa-whatsapp" style="font-size: 18px;">
            <a href="https://api.whatsapp.com/send?phone=5511968953197">Whatsapp</a>
        </i>
    </p>
</div>

<div class="phrase">
    <i>
        A race of people is like and individual man: until it uses its own talent, takes pride in its own history, expresses its
        own culture, affirms its own selfhood, it can never fulfill itself.
    </i>
</div>
{% endblock content%}