{% extends 'blog/base.html'%}

<!-- Block Content -->
{% block content %}

    <h3>About Me</h3>

    <div>
        <p>
            I am a Computer Engineer passionate about Web Programming, lover of good music and I like sports. 
            If you want to contact me, don't think twice, here I am. &#128521 <a href="mailto:dejongh.cu@gmail.com">adejonghm</a>
        </p>
        <p>
            This website is made entirely with <strong>Django</strong>.
        </p>
    </div>
    <div class="phrase">
        <i>
            A race of people is like and individual man: until it uses its own talent, takes pride in its own history, expresses its own culture, 
            affirms its own selfhood, it can never fulfill itself.
        </i>
    </div>
{% endblock content%}